.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form
{
    display: block;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

h1
{
  text-align: center;
}

.jumbotron
{
  background-color: #61dafb !important;
  text-align: center;
}

.btn-primary 
{
  background-color: #61dafb !important;
  border-color: #61dafb !important;
  color: black !important;
  width: 200px;
  padding-bottom: 5%;
}

.formButton
{
  text-align: center !important;
}

.table 
{
  width: 75% !important;
  margin-left: auto;
  margin-right: auto;
}

.tableDiv
{
  text-align: center;
  padding-bottom: 20px;
}

p
{
  padding-top: 2%;
  font-size: larger;
  font-weight: 500;
}

.imageDiv
{
  width: 25%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.errorLabel
{
  color: red;
}
